$cor-primaria : #3F3073;
$cor-segundaria : #A64985;
$cor-terciaria : #723973;
$cor-quartenaria: #232659;
$background-color: #A8AEBF;
$link-color: #FFF;
$color-alt: #EDF7FF;

$fonte-pradrao: 'Open Sans', sans-serif;