.login {
  .base-login {
    background-color: $color-alt;
    height: 100%;

    h3 {
      color: $cor-primaria;
      text-align: center;
    }

    .form-login {

      .div-form {
        margin-top: 16px;

        label {
        color: $background-color;
        }
      }

      .div-botao {
        .botao {
          width: 100%;
          margin-top: 20px;
          background-color: $cor-primaria;
          border: 1px solid $cor-primaria;
          margin-bottom: 20px;

          &:hover {
            background-color: $cor-quartenaria;
            border: 1px solid $cor-quartenaria;
          }
        }
      }

      .login-redes {
        border-top: 1px dashed $background-color;

        .btn-redes {
          width: 100%;
          background-color: transparent;
          color: $cor-primaria;
          border: 1px solid $cor-primaria;
          font-family: "Roboto", sans-serif;
          font-weight: 500;

          &:hover {
            color: $link-color;
            border: 1px solid $cor-quartenaria;
            background-color: $cor-primaria;
          }

          .bi {
            margin-right: 10px;
          }
        }

        span {
          color: $background-color;
          text-align: center;
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
      .cadastro{
        margin-top: 20px;
        p{
          text-align: center;
          color: $background-color;
          font-weight: 500;
          a{
            color: $cor-segundaria;
            &:hover, &:focus{
              color: $cor-terciaria;
            }
          }
        }
      }
      .roda-pe__login{
        text-align: center;
        margin-top: 20px;
        color: $background-color;
        font-weight: 100;
      }
    }
  }
}