@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body {
  background: #EDF7FF !important;
}

body {
  height: 100% !important;
}

a, p, span, li, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

/** Telas de Login **/
.estrutura {
  background-color: #EDF7FF;
  z-index: 9999;
}

.header-login .logo-div {
  padding: 40px;
  background-color: #EDF7FF;
}
.header-login .logo-div .logo {
  margin-top: 40px;
  height: 60px;
  transition: 0.2s ease-in-out transform;
}

.login .base-login {
  background-color: #EDF7FF;
  height: 100%;
}
.login .base-login h3 {
  color: #3F3073;
  text-align: center;
}
.login .base-login .form-login .div-form {
  margin-top: 16px;
}
.login .base-login .form-login .div-form label {
  color: #A8AEBF;
}
.login .base-login .form-login .div-botao .botao {
  width: 100%;
  margin-top: 20px;
  background-color: #3F3073;
  border: 1px solid #3F3073;
  margin-bottom: 20px;
}
.login .base-login .form-login .div-botao .botao:hover {
  background-color: #232659;
  border: 1px solid #232659;
}
.login .base-login .form-login .login-redes {
  border-top: 1px dashed #A8AEBF;
}
.login .base-login .form-login .login-redes .btn-redes {
  transition: 0.5s;
  width: 100%;
  background-color: transparent;
  color: #3F3073;
  border: 1px solid #3F3073;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.login .base-login .form-login .login-redes .btn-redes:hover {
  transition: 0.5s;
  color: #FFF;
  border: 1px solid #232659;
  background-color: #3F3073;
}
.login .base-login .form-login .login-redes .btn-redes .bi {
  margin-right: 10px;
}
.login .base-login .form-login .login-redes span {
  color: #A8AEBF;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.login .base-login .form-login .cadastro {
  margin-top: 20px;
}
.login .base-login .form-login .cadastro p {
  text-align: center;
  color: #A8AEBF;
  font-weight: 500;
}
.login .base-login .form-login .cadastro p a {
  color: #A64985;
}
.login .base-login .form-login .cadastro p a:hover, .login .base-login .form-login .cadastro p a:focus {
  color: #723973;
}
.login .base-login .form-login .roda-pe__login {
  text-align: center;
  margin-top: 20px;
  color: #A8AEBF;
  font-weight: 100;
}
.login .none-message {
  color: red;
  display: none;
  transition: 0.5s;
  font-size: 0px;
  text-align: right;
}
.login .active-message {
  color: red;
  transition: 0.5s;
  font-size: 12px;
  text-align: right;
}
.login #cad-alert, .login #loginSucess {
  text-align: center !important;
  color: green;
}

.slide {
  padding: 0;
}

/** Home **/
.header-geral {
  height: 60px;
  min-height: 40px;
  background-color: #3F3073;
  z-index: 2200;
  border-bottom: 3px solid #A64985;
}
.header-geral .icon-menu, .header-geral .icon-notification {
  font-size: 1em;
  color: #FFF !important;
  font-weight: bolder;
}
.header-geral .img-logo {
  height: 32px;
}

.menu {
  height: 100vh !important;
  min-height: 100%;
  width: 60vw;
  display: flex;
  flex-direction: column;
  background-color: #3F3073;
  z-index: 2100 !important;
  position: absolute;
  left: -100vw;
  transition: 0.5s;
  padding-top: 80px;
  border-right: 3px solid #A64985;
}
.menu.ativo {
  left: 0vw;
  transition: 0.5s;
}
.menu .navbar-nav hr {
  color: #FFF;
}
.menu .navbar-nav .nav-item a {
  color: #a9a9a9;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}
.menu .navbar-nav .nav-item a .icon-menu {
  margin-right: 11px;
  padding-right: 16px;
}
.menu .navbar-nav .nav-item a.active, .menu .navbar-nav .nav-item a:focus, .menu .navbar-nav .nav-item a:hover {
  color: #FFF !important;
}
.menu .navbar-nav .nav-item a.active .icon-menu, .menu .navbar-nav .nav-item a:focus .icon-menu, .menu .navbar-nav .nav-item a:hover .icon-menu {
  margin-right: 8px;
  padding-right: 16px;
  border-right: 3px solid #FFF;
}

@media screen and (min-width: 992px) {
  .menu {
    width: 60px;
    left: 0vw;
    transition: 0.5s;
  }
  .menu.ativo {
    width: 250px;
    left: 0vw;
    transition: 0.1s;
  }
  .menu.ativo .nav-item {
    transition: 0.1s;
  }
  .menu.ativo .nav-item a .icon-menu {
    margin-right: 11px !important;
    padding-right: 16px !important;
    border-right: 0px !important;
  }
  .menu.ativo .nav-item a.active, .menu.ativo .nav-item a:focus, .menu.ativo .nav-item a:hover {
    color: #FFF !important;
  }
  .menu.ativo .nav-item a.active .icon-menu, .menu.ativo .nav-item a:focus .icon-menu, .menu.ativo .nav-item a:hover .icon-menu {
    margin-right: 8px !important;
    padding-right: 16px !important;
    border-right: 3px solid #FFF !important;
    border-bottom: 0px !important;
  }

  .nav-item a .icon-menu {
    margin: 0px !important;
    padding: 0px !important;
  }
  .nav-item a.active, .nav-item a:focus, .nav-item a:hover {
    color: #FFF !important;
  }
  .nav-item a.active .icon-menu, .nav-item a:focus .icon-menu, .nav-item a:hover .icon-menu {
    margin: 0px !important;
    padding: 0px !important;
    border-right: 0px !important;
    border-bottom: 3px solid #FFF;
  }
}
.painel-inicio {
  display: grid;
  position: relative;
  top: 40px;
}
.painel-inicio h1, .painel-inicio h3 {
  font-size: 1.2rem;
}
.painel-inicio .cartao {
  height: 300px;
  background-color: #3F3073;
  padding: 20px;
}
.painel-inicio .ultimos-albuns {
  margin-top: 20px;
}
.painel-inicio .lista-albuns-home {
  margin-top: 20px;
  margin-bottom: 20px;
}
.painel-inicio .lista-albuns-home a {
  border: 0px;
  color: #FFF;
}
.painel-inicio .lista-albuns-home a .total-img {
  background-color: #A64985;
}
.painel-inicio .lista-albuns-home a:nth-child(even) {
  background-color: #3F3073;
}
.painel-inicio .lista-albuns-home a:nth-child(even):hover, .painel-inicio .lista-albuns-home a:nth-child(even):focus {
  background-color: #723973;
  color: #FFF;
}
.painel-inicio .lista-albuns-home a:nth-child(odd) {
  background-color: #232659;
}
.painel-inicio .lista-albuns-home a:nth-child(odd):hover, .painel-inicio .lista-albuns-home a:nth-child(odd):focus {
  background-color: #723973;
  color: #FFF;
}
.painel-inicio .paginacao .pagination .page-item .page-link {
  color: #232659;
}
.painel-inicio .paginacao .pagination .page-item .page-link:hover {
  color: #FFF;
  background-color: #723973 !important;
}
.painel-inicio .paginacao .pagination .page-item.active .page-link {
  color: #FFF;
  background-color: #232659 !important;
}

/*# sourceMappingURL=style.css.map */
