.header-geral {
  height: 60px;
  min-height: 40px;
  background-color: $cor-primaria;

  .icon-menu, .icon-notification {
    font-size: 1em;
    color: $link-color !important;
    font-weight: bolder;
  }
  .img-logo {
    height: 32px;
  }
}