.menu{
  height: 100vh;
  display: block;
  background-color: $cor-primaria;
  z-index: 2100 !important;
  position: relative;
  left: -100vw;
  transition: 0.5s;
  padding-top: 80px;
  &.ativo{
    position: relative;
    left: 0;
    transition: 0.5s;
  }
  .navbar-nav{
    .nav-item{
      a{
        font-size: 1rem;
        color: #a9a9a9;
        text-transform: uppercase;
        &.active, &:focus{
          color: #f2f2f2 !important;
          .icon-menu{
            margin-right: 8px;
            padding-right: 16px;
            border-right: 3px solid $link-color;
          }
        }
        .icon-menu{
          margin-right: 11px;
          padding-right: 16px;
        }
      }
    }
  }
}