.menu {
  height: 100vh !important;
  min-height: 100%;
  width: 60vw;
  display: flex;
  flex-direction: column;
  background-color: $cor-primaria;
  z-index: 2100 !important;
  position: absolute;
  left: -100vw;
  transition: 0.5s;
  padding-top: 80px;
  border-right: 3px solid $cor-segundaria;

  &.ativo {
    left: 0vw;
    transition: 0.5s;
  }

  .navbar-nav {
    hr {
      color: $link-color;
    }

    .nav-item {
      a {
        color: #a9a9a9;
        text-transform: uppercase;
        font-weight: 500;
        cursor: pointer;

        .icon-menu {
          margin-right: 11px;
          padding-right: 16px;
        }

        &.active, &:focus, &:hover {
          color: $link-color !important;

          .icon-menu {
            margin-right: 8px;
            padding-right: 16px;
            border-right: 3px solid $link-color;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .menu {
    width: 60px;
    left: 0vw;

    transition: 0.5s;
    &.ativo {
      width: 250px;
      left: 0vw;
      transition: 0.1s;
      .nav-item {
        transition: 0.1s;
        a {
          .icon-menu {
            margin-right: 11px !important;
            padding-right: 16px !important;
            border-right: 0px !important;
          }

          &.active, &:focus, &:hover {
            color: $link-color !important;

            .icon-menu {
              margin-right: 8px !important;
              padding-right: 16px !important;
              border-right: 3px solid $link-color !important;
              border-bottom: 0px !important;
            }
          }
        }
      }
    }
  }
  .nav-item {
    a {
      .icon-menu {
        margin: 0px !important;
        padding: 0px !important;
      }

      &.active, &:focus, &:hover {
        color: $link-color !important;

        .icon-menu {
          margin: 0px !important;
          padding: 0px !important;
          border-right: 0px !important;
          border-bottom: 3px solid $link-color;
        }
      }
    }
  }
}